body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#game {
    margin: auto;
}
#timer {
    margin-top: 10px;
}

#message {
    margin-top: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(10, 30px); /* 10 colonnes */
    grid-template-rows: repeat(10, 30px); /* 10 lignes */
    gap: 1px;
    border: 1px solid #000;
}

.cell {
    background-color: #0ead4b;
    border: 1px solid #000;
    cursor: pointer;
}

.mine {
    background-image: url('img/mine.png'); /* Chemin vers l'image de la bombe */
    background-size: cover;
}

.flagged {
    background-image: url('img/flag.png'); /* Chemin vers l'image du drapeau */
    background-size: cover;
}

.revealed {
    background-color: white;
}
