html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 2px solid black;
}

#header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#game {
    position: relative;
    z-index: 0;
}
#score{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 2em;
    color: white;
    background-color: black;
    padding: 0.5em;
    border-radius: 0 0 0 1em;
}
